- const root = '/'

mixin logo(platform)
	a(
		title=lang.header.home.jp
		class=`logo-container ${platform}`
		href=root)
		custom-svg.logo(class=platform src='img/logo.svg')

mixin a(loc)
	a(
		title=`${lang[loc].title.jp}`
		href= root+loc
		class= navLocation == loc ? 'nav-here' : ''
	) #{lang.header[loc].jp}

mixin pal(loc)
	p.text-left
		+a(loc)

mixin par(loc)
	p.text-right
		+a(loc)