extends ./layouts/default.pug

block vars
	- pageTitle = lang.guide.title.jp
	- navLocation = 'guide'

block tagline
	h1#tagline
		span #{lang.guide.tagline.jp}

block content
	div.grid.guide-top
		div.item.g-two-template.poster
			canvas.umi#guide-top(width='400' height='400')
		div.item.g-tall-template
			p.vert #{lang.guide.top.jp}
		
	div.grid.guide-direction
		div.item.g-wide-template
			p.vert #{lang.guide.directions.jp}
		
		div.item.g-tall-template.flex
			p.vert-always #{lang.guide.radial.jp}
			p.vert-always #{lang.guide.horizontal.jp}
			p.vert-always #{lang.guide.vertical.jp}

		div.item.g-one-auto.poster
			canvas.umi#dir-radial(width='200' height='200')
		div.item.g-one-auto.width-100
			p.vert-always #{lang.guide.side_radial.jp}
		
		div.item.g-one-auto.poster
			canvas.umi#dir-horizontal(width='200' height='200')
		div.item.g-one-auto.width-100
			p.vert-always #{lang.guide.side_horizontal.jp}
		
		div.item.g-one-auto.poster
			canvas.umi#dir-vertical(width='200' height='200')
		div.item.g-one-auto.width-100
			p.vert-always #{lang.guide.side_vertical.jp}
	
	div.grid.guide-direction
		div.item.g-wide-template
			p.vert #{lang.guide.noise.jp}
		
		div.item.g-tall-template.flex
			p.vert-always #{lang.guide.octaves.jp}
			p.vert-always #{lang.guide.persistence.jp} 
			p.vert-always #{lang.guide.frequency.jp}
		
		div.item.g-one-auto.poster
			canvas.umi#noi-octaves(width='200' height='200')
		div.item.g-one-auto.width-100
			p.vert-always #{lang.guide.side_octaves.jp}
		
		div.item.g-one-auto.poster
			canvas.umi#noi-persistence(width='200' height='200')
		div.item.g-one-auto.width-100
			p.vert-always #{lang.guide.side_persistence.jp}
		
		div.item.g-one-auto.poster
			canvas.umi#noi-frequency(width='200' height='200')
		div.item.g-one-auto.width-100
			p.vert-always #{lang.guide.side_frequency.jp}