extends ./layouts/default.pug

block vars
	- pageTitle = lang.travel.title.jp
	- navLocation = 'travel'

block tagline
	h1#tagline
		span #{lang.travel.tagline.jp}

block content
	- arrow = 'img/arrow.svg'
	- alt = lang.travel.arrow.jp
	div.grid.travel
		div.item.g-tall-auto.fit(hidden)
			div.postcard-back
				div.item.left.flex
					p.vert-always #{lang.travel.greeting.jp}
					p.vert-always #{lang.travel.card_text.jp}
				div.item.right
					div.stamp
						custom-svg.overlay(src='img/logo.svg')
					div.lines
						- for (let i = 0; i < 4; ++i)
							hr
			div.postcard
				canvas.umi#postcard(hidden width='100' height='100')
		
		div.item.empty

		div.item.g-tall-auto.arrow.arrow-ul#skip-1-arrow(hidden)
			custom-svg(src=arrow alt=alt)

		div.item.empty

		div.item.empty

		div.item.g-tall-auto.margin-when-small(hidden)
			div.postcard.no-position
				canvas.umi#skip-1(hidden width='100' height='100')

		div.item.g-tall-auto.arrow.arrow-ur#skip-2-arrow(hidden)
			custom-svg(src=arrow alt=alt)

		div.item.empty

		div.item.g-tall-auto.margin-when-small(hidden)
			div.postcard.no-position
				canvas.umi#skip-2(hidden width='100' height='100')

		div.item.empty

		div.item.g-tall-auto.arrow.arrow-ul#skip-3-arrow(hidden)
			custom-svg(src=arrow alt=alt)
		
		div.item.empty

		div.item.empty

		div.item.g-tall-auto.margin-when-small(hidden)
			div.postcard.no-position
				canvas.umi#skip-3(hidden width='100' height='100')

		div.item.g-tall-auto.arrow.arrow-dl#special-3d-skip-arrow(hidden)
			custom-svg(src=arrow alt=alt)
		
		div.item.empty

		div.item.g-tall-auto.margin-when-small(hidden)
			div.postcard.no-position
				canvas.umi#special-3d-skip(hidden width='100' height='100')